/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat';
  background-color: #081b29;
}

.scale-90 {
  transform: scale(0.9);
  transform-origin: top center;
}

.circle-image::before,
.circle-image::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid #00f;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
}

.circle-image::after {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border-color: rgba(0, 0, 255, 0.5);
}
